:root {
  font-size: 16px;
  background-color: #000;
}
* {
  letter-spacing: 0 !important;
}

body,
html {
  margin: 0;
  /* width: 100vw;
  height: 100vh; */
}

h1 {
  font-size: 50px;
  /* font-size: 3.125rem; */
}

.app {
  /* background-color: #000; */
  font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
}
.card {
  font-size: 16px;
  display: block;
  width: 100%;
  background: transparent;
  border-bottom: 8px solid #222;
  padding: 80px 45px;
  overflow: hidden;
}

.card-container {
  /* font-size: 16px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}

.card-text {
  width: 52%;
  padding: 0 48px 0 0;
  /* font-size: 16px; */
  /* display: block; */
}

.card-text-flipped {
  width: 48%;
  padding: 0 0 0 00px;
  /* font-size: 16px; */
  /* display: block; */
}

.card-title {
  font-size: 3.125rem;
  /* font-size: 3.125rem; */
  line-height: 1.1;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.card-desc {
  font-size: 1.625rem;
  font-weight: 400;
}

.img-container {
  margin: -10% -5% -5% 0%;
  width: 48%;
  display: flex;
  height: 100%;
  position: relative;
  /* width: */
  /* display: flex; */
}

img {
  /* height: 50px; */
  max-width: 100%;
  z-index: 2;
  overflow: hidden;
  margin-right: 300;
}

.vid-container-tv {
  /* background-color: green; */
  position: absolute;
  /* z-index: -1; */
  max-height: 54%;
  left: 13%;
  top: 21%;
  width: 388px;
  height: 222px;
}

.vid-tv {
  height: 100%;
  width: 100%;
  /* object-fit: contain; */
}

.img-container-mobile {
  left: 0;
  padding: 0 0px 0 0;
  right: 900px;
  display: flex;
  flex: 0 1 auto;
}

.img-mobile {
  /* height: 640px; */
  /* width: 600px; */
  /* height: 379px; */
  /* right: 300px; */
  height: 400px;
  width: 600px;
}

.card-mobile {
  font-size: 16px;
  display: flex;
  width: 100%;
  background: transparent;
  border-bottom: 8px solid #222;
  padding: 80px 45px;
  overflow: hidden;
  height: 300px;
}

.mobile-animation {
  align-items: center;
  display: flex;
  /* background: #000; */
  background-color: #000;
  position: relative;
  z-index: 4;
  border: 2px solid hsla(0, 0, 100%, 0.25);
  border-radius: 0.75em;
  height: 80px;
  min-width: 20em;
  /* left: 50%;
   */
  right: 50%;
  top: 260px;
}

.stranger-img {
  position: absolute;
  height: 100%;
  width: 59px;
  bottom: 0px;
}

.animation-text {
  position: relative;
  left: 70px;
}

.stranger {
  color: white;
  /* background
   */
  font-weight: bold;
}

.downloading {
  color: #0071eb;
}

.animation {
  position: absolute;
  left: 50px;
  bottom: 0px;
  top: -5px;
}

.gif {
  height: 50px;
  width: 70px;
  padding-left: 100px;
  top: 50px;
}

.vid-devices {
  height: 100%;
  width: 100%;
  /* bottom: 50px; */
}

.vid-container-devices {
  background-color: green;
  position: absolute;
  /* z-index: -1; */
  max-height: 54%;
  left: 19%;
  top: 11%;
  width: 320px;
  height: 180px;
}

.watch-card {
  padding-top: 150px;
}
